# Secrets
.env
.env.local
.env.*.local

# Next.js
.next/
out/

# Build
dist/

# Deps
node_modules/

# Vercel
.vercel

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

./public/sawo-chat-widget.js.bk